<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--产品图片-->
    <add key="imgurl" value="http://base.ibananas.cn/files/Product/" />
    <!--<add key="imgurl" value="files/Product/" />-->
    <!--topic图片-->
    <add key="topicimgurl" value="http://ibananas.cn/" />
    
    <!--版本-->
    <add key="ver" value="banana_W1.0.0" />
    <!--合作者身份-->
    <add key="alipay_pid" value="2088911194151640" />
    <add key="alipay_key" value="q0xrxylmj2e3kkjv7mdjx0jc0jlj1qxr"></add>
    <add key="alipay_notify_url" value=""></add>
    <add key="alipay_return_url" value="http://www.ibananas.cn/AliPay/return.aspx"></add>
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="Data Source=192.168.1.250; Initial Catalog=Bananadb; User ID=sa; Password=hzsa; Pooling=true; connect timeout=120;"
         providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="Data Source=42.121.109.16; Initial Catalog=BananaDBtest; User ID=banana; Password=banana123456; Pooling=true; connect timeout=120;" providerName="System.Data.SqlClient" />

    <!--<add name="ApplicationServices" connectionString="Data Source=192.168.1.250; Initial Catalog=BananaDB; User ID=sa; Password=hzsa; Pooling=true; connect timeout=120;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
