@charset "utf-8";
*{ padding:0; margin:0; font-family:microsoft yahei; }
body{ background:#f6f7ef;font-size:12px; max-width:640px; margin:0 auto;}
a,input{ -webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);}
a{ text-decoration:none; color:#000;}
a:hover{ color:#fc0;}
a:visited{ color:#111;}
h1{ font-size:16px;}
h2{ font-size:14px;}
em,i{ font-style:normal;}
img{ border:none}
ul,li{ list-style-type:none;}
.fl{ float:left;}
.fr{ float:right;}
.clf{ clear:both; overflow:hidden; zoom:1;}
.Bg50{background:url(../images/baseIcons.png) no-repeat; background-size:32px 288px; -webkit-background-size:32px 288px;}
.bdradius6{border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px}
.red{color:#F66}
.searchbg{ background:#fff; padding:15px;}
.searchBox{ border:1px solid #ddd; background:#e4e6db;}
.searchBox input{ background-color:#e4e6db; border:none; border:0; height:32px; line-height:32px; text-align:center; float:left;}
.searchTxt{ width:90%;}
.searchBtn{ width:10%; background-position:center 0;}
.searchBtn:hover{background-position:center -32px;}
.block{ background:#fff; margin:10px 0;}
.prodlist{ padding:10px;}
.prodlist li{ float:left; width:50%; margin-bottom:15px;  overflow:hidden;}
.prodlist li a{ width:95%; margin:0 auto; display:block;background:#fff; border-radius:6px; -webkit-border-radius:6px; overflow:hidden; padding-bottom:10px;}
.prodlist li span{ display:block; line-height:15px;  overflow:hidden;}
.prodlist li span img{ width:100%;}
.prodTitle,.prodPrice{ margin:5px 10px;}
.prodTitle{ height:30px; overflow:hidden;}
.prodPrice{ color:#999; }
.prodPrice i{ color:#999; line-height:18px; height:18px; display:block; margin-right:10px;font-size:12px;}
.prodPrice i.red{ color:#F63; font-size:16px; margin-right:5px;}

.RightMenu{ position:fixed; right:10px; bottom:50px; }
.RightMenu a{ display:block; width:32px; height:32px; margin-top:10px; background-color:rgba(0,0,0,.6)}
.cart{ background-position:0 -96px; text-align:right;}
.gotop{ background-position:0 -128px;}
.user{ background-position:0 -256px;}
.cart span{ display:inline-block; padding:0 3px;  text-align:center; background:#F00; color:#fff;}
.header{ position:fixed; top:0; width:100%; max-width:640px; background:#eee; z-index:1000; box-shadow:0 0 3px rgba(0,0,0,.3); -webkit-box-shadow:0 0 3px rgba(0,0,0,.3)}
.header .top{ height:50px; margin-bottom:1px;background:#fff; position:relative; text-align:center; line-height:50px; font-size:16px;}
.header .top a{ position:absolute; width:32px; height:32px; top:9px;}
.header .top a.back{ left:10px; background-position:0 -160px;}
.header .top a.search{ right:10px; background-position:0 -32px;}
.header .top a.like{ right:10px; background-position:0 -192px;}
.header .top a.liked{ right:10px; background-position:0 -224px;}
.header .top a:hover{ background-color:#ddd;}
.header .submenu{ height:45px;  background:#fff;}
.header .submenu a{ float:left; width:25%; line-height:45px; text-align:center; font-size:14px;}
.header .submenu a.on{ color:#fc0}
.indextop{ padding:10px; text-align:center;}
.indextop a{ display:block; }
.indextop a span{ display:inline-block; height:32px; line-height:32px;  padding:0 32px;font-size:16px; }
.indextop a span.Bg50{background-position:right -64px}

.loadingdata{ text-align:center; line-height:60px; color:#999;}
